{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="container">
  <form method="post">
    <h1 class="display-6 my-3">
      Client Portal Sign In
    </h1>
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">
      Login
    </button>
  </form>
  <br>
  <p>
    <a href="{% url "password_reset" %}">
      Forgotten your password?
    </a>
  </p>
  <p>
    <a href="{% url "accounts:signup" %}">
      Register a new account?
    </a>
  </p>
</div>
{% endblock content %}