* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: Regular;
  font-weight: 400;
  src: local('P'), url('../fonts/PlayfairDisplay.ttf') format('ttf');
}

@font-face {
  font-family: 'Round Style Basic';
  font-style: Medium;
  font-weight: 400;
  src: local('A'), url('../fonts/RoundStyleBasic.ttf') format('ttf');
}

@font-face {
  font-family: 'Alegreya SC';
  font-style: Medium;
  font-weight: 400;
  src: local('A'), url('../fonts/AlegreyaSC-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Fjalla One';
  font-style: Regular;
  font-weight: 400;
  src: local('F'), url('../fonts/FjallaOne-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Alegreya SC BoldItalic';
  font-style: BoldItalic;
  font-weight: 700;
  src: local('A'), url('../fonts/AlegreyaSC-BoldItalic.ttf') format('ttf');
}

:root {
  --th-color-brown: #916953;
  --th-color-white: #FFFFFF;
  --th-color-black: #000000;
  --th-color-green: #83B692;
  --th-color-eggshell: #EDD3C4;
  --th-color-light-gray: #D9D9D9;
  --th-color-blue-gray: #abbdc9;
  --th-color-lavender: #63477a;

  --heading-font-family: "Alegreya SC", sans-serif;
  --heading-font-weight: 900;
  --navbar-font-family: "Alegreya SC", sans-serif;
  --quote-font-family: "Playfair Display", sans-serif;
  --bs-body-font-family: "Fjalla One", sans-serif;
  --bs-body-font-weight: 400;

  --bs-card-border-width: 3px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  text-align: center;
  align-items: center;
  font-weight: 800;
}

header {
  font-family: var(--heading-font-family);
  display: block;
  justify-content: space-between;
  align-items: center;
  background-color: var(--th-color-black);
}

header a {
  text-decoration: none;
  color: var(--th-color-white);
  font-size: calc(0.75rem + 0.25vw);
}

header ul {
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}

header ul a {
  list-style: none;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: var(--th-color-white);
  font-size: calc(0.75rem + 0.25vw);
  text-align: center;
}

header ul li a {
  padding: 10px;
  color: var(--th-color-white);
}

header ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.display-6 {
  font-size: calc(1.375rem + 1vw);
  font-weight: 300;
  line-height: 1.2;
}

.quote {
  font-family: var(--quote-font-family);
  font-weight: 400;
  font-size: calc(0.75rem + 0.5vw);
}

figcaption {
  text-transform: uppercase;
}

em {
  text-align: justify;
}

#menu-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

#menu-icon:focus {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

@media only screen and (max-width: 900px) {
  #menu-icon {
    display: block;
    left: 0%;
    transform: translateX(-50%);
  }

  header nav {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 900px) {
  #menu-icon {
    display: none;
  }

  header nav {
    display: flex;
  }
}

#menu-icon {
  width: 60px;
  height: 45px;
  left: 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#logo {
  width: 35px;
  height: auto;
  position: absolute;
  left: 0;
  top: 5px;
  filter: invert(50%);
}

.rounded-circle {
  border-radius: 50%;
  max-height: 350px;
  height: auto;
  width: 70%;
  padding-bottom: 1rem;
}


blockquote {
  font-family: var(--quote-font-family);
  position: relative;
  margin: 0;
  padding: 40px 75px 40px 75px;
  line-height: 1.4;
  font-size: 1em;
  color: var(--th-color-black);
}

blockquote:before {
  font-family: var(--quote-font-family);
  position: absolute;
  color: var(--th-color-gray);
  font-size: 10em;
  line-height: 1;
  top: 0;
  left: 0;
  content: open-quote;
}
blockquote:after {
  font-family: var(--quote-font-family);
  position: absolute;
  float:right;
  font-size:10em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: close-quote;
}

.mobile-menu {
  display: none;
  width: 100%;
  text-align: center;
}

.mobile-menu li {
  margin-bottom: 10px;
  text-align: center;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
}

/* Pull up  */
.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
}

.pullUp a:hover:before
{
    height: 100%;
}


.btn-primary {
  --bs-btn-color: var(--th-color-black);
  --bs-btn-bg: var(--th-color-white);
  --bs-btn-border-color: var(--th-color-black);
  --bs-btn-hover-color: var(--th-color-black);
  --bs-btn-hover-bg: var(--th-color-light-gray);
  --bs-btn-hover-border-color: var(--th-color-black);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: var(--th-color-black);
  --bs-btn-active-bg: var(--th-color-light-gray);
  --bs-btn-active-border-color: var(--th-color-black);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--th-color-white);
  --bs-btn-disabled-bg: var(--th-color-black);
  --bs-btn-disabled-border-color: var(--th-color-black);
}

btn {
  font-family: var(--heading-font-family);
  font-size: calc(0.75rem + 0.25vw);
  width: 80%;
  
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: calc(1.25rem + 0.5vw);
}

h1.heading {
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-img {
  width: 100%;
  height: 10vw;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.home-img {
  width: 100%;
  max-height: 500px;
  height: auto;
}

.border-dark {
  border-width: 3px;
}

footer {
  display: in-line;
  background-color: var(--th-color-black);
  color: var(--th-color-white);
  text-transform: uppercase;
  text-align: center;
  font-size: calc(0.75rem + 0.25vw);
  justify-content: center;
}

.img {
  border-radius: 10%;
  width: 100%;
  height: auto;
}

.card-black {
  background-color: var(--th-color-black);
}

.template-gallery {
  font-family: var(--bs-body-font-family);
  background-color: var(--th-color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../img/babys-breath-vert.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  loading: lazy;
  max-width: 100%;
}

.template-home {
  background-image: url('../img/greenery_bg.jpg');
  background-color: --th-color-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  loading: lazy;
  min-height: 100vh;
  max-width: 100%;
}

.template-pricing {
  background-image: url('../img/bouquet_bg2.png');
  background-color: --th-color-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  loading: lazy;
  max-width: 100%;
}

.template-about {
  background-image: url('../img/peals.jpg');
  background-color: --th-color-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  loading: lazy;
  max-width: 100%;
}

.template-testimonials {
  background-image: url('../img/babys-breath.jpg');
  background-color: --th-color-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  loading: lazy;
  max-width: 100%;
}

.template-contact {
  background-image: url('../img/fresh-flwr.jpg');
  background-color: --th-color-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  loading: lazy;
  max-width: 100%;
}

.scroll-gallery {
  &::-webkit-scrollbar {
    background-color: var(--th-color-black);
    height: 20px;
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--th-color-black);
    border-radius: 99em;
    border: 6px solid #1e1f26;
  }
}

.scroll-li {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: min(50vw, 350px);
  display: inline-block;
  text-align: center;
  background-color: var(--th-color-black);
  color: var(--th-color-white);
  padding-bottom: 1.5rem;
  font-size: calc(0.8rem + 0.25vw);
  box-shadow: -10px 0 30px 0 rgba(#000, 0.25);
  border: 2px solid var(--th-color-white);
}

.scroll-ul {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  scroll-behavior: smooth;
  text-transform: uppercase;
  border: 2px solid var(--th-color-white);
}

.scroll-img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.gallery {
  --g: 8px;
  /* the gap */
  --s: 100%;
  /* the size */
  
  display: grid;
  border-radius: 50%;
}

.gallery>img {
  grid-area: 1/1;
  justify-self: center;
  align-self: center;
  width: 90%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x, 0), var(--_y, 0));
  cursor: pointer;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
  
}

.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform .2s, clip-path .3s .2s, z-index 0s;
}

.gallery:hover img {
  transform: translate(0, 0);
}

.gallery>img:nth-child(1) {
  clip-path: polygon(50% 50%, calc(50%*var(--_i, 0)) calc(120%*var(--_i, 0)), 0 calc(100%*var(--_i, 0)), 0 0, 100% 0, 100% calc(100%*var(--_i, 0)), calc(100% - 50%*var(--_i, 0)) calc(120%*var(--_i, 0)));
  --_y: calc(-1*var(--g))
}

.gallery>img:nth-child(2) {
  clip-path: polygon(50% 50%, calc(100% - 120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100% - 100%*var(--_i, 0)) 0, 100% 0, 100% 100%, calc(100% - 100%*var(--_i, 0)) 100%, calc(100% - 120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
  --_x: var(--g)
}

.gallery>img:nth-child(3) {
  clip-path: polygon(50% 50%, calc(100% - 50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)), 100% calc(100% - 120%*var(--_i, 0)), 100% 100%, 0 100%, 0 calc(100% - 100%*var(--_i, 0)), calc(50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)));
  --_y: var(--g)
}

.gallery>img:nth-child(4) {
  clip-path: polygon(50% 50%, calc(120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100%*var(--_i, 0)) 0, 0 0, 0 100%, calc(100%*var(--_i, 0)) 100%, calc(120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
  --_x: calc(-1*var(--g))
}

ul, il {
  font-size: calc(0.8rem + 0.25vw);
}

p {
  font-size: calc(0.8rem + 0.5vw);
}
  
.site-main {
  min-height: 90vh;
}

.site-header {
  background: var(--th-color-black);
}

@media screen and (min-width: 768px){
  .col-md-6 {
    width: 100%;
  }

  .col-md-4 {
    width: 50%;
  }
}

@media screen and (min-width: 768px){

  .site-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.site-header nav {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.a-link {
  text-decoration: underline;
  color: var(--th-color-lavender);
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
  color: var(--th-color-blue-gray);
  font-weight: 700;
}

.card-body {
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 900px){
  
  .row {
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .col-12 {
    margin: 0.25rem 0 0.25rem 0;
  }

  .card {
    padding-bottom: 0.25rem;
  }

  .col-md-4 {
    width: 33%;
  }

  .col-md-6 {
    width: 50%;
  }
}

@media screen and (max-width: 900px){
  /* .mobile-img {
    background-image: url('../img/tableset.jpg');
    background-color: --th-color-white;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    loading: lazy;
  }   */

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-12 {
    width: 80%;
    padding: 0.25rem;
  }

  .col-md-4 {
    width: 100%;
  }

  .scroll-li {
    font-size: calc(0.5rem + 0.25vw);
    font-family: var(--heading-font-family);
  }
}

.bride-img {
  width: 300px;
  height: auto;
  border-radius: 10%;
}

.bg-white {
  background-color: var(--th-color-white);
}

.bg-eggshell {
  background-color: var(--th-color-eggshell);
}

.bg-light-gray {
  background-color: var(--th-color-light-gray);
}

.bg-blue-gray {
  background-color: var(--th-color-blue-gray);
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-tr {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-tr {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-tl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-tl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-bl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  
.slide-in-fwd-bl {
  -webkit-animation: slide-in-fwd-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-tr {
  -webkit-animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-tl {
  -webkit-animation: slide-in-fwd-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-br {
  -webkit-animation: slide-in-fwd-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
}

.card-gallery {
  /* margin: 0 3vw; */
  width: 25vw;
  flex-shrink: 0;
  /* padding: 2vw; */
  box-sizing: border-box;
  position: relative;
  border-radius: 3px;
  border: 2px solid #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 4px 4px 0 rgba(0,0,0,.1);
  
  &-title {
    transition: .3s;
    text-align: center;
    font-family: 'Space Mono', monospace;
    margin: 2vw 0 0;
    font-size: 2.8vw;
    opacity: 0;
    transform: scale(.7);
  }
  
  &:last-child:after {
    content: "";
    width: 6vw;
    position: absolute;
    height: 100%;
    right: -6vw;
    top: 0;
  }

  img {
    max-width: 70%;
    max-height: 50vh;
    opacity: 0;
    margin: auto;
    display: block;
    transition: .35s;
    transform: rotate(6deg) translate(0, 40px) scaleY(.6);
  }

  &.isVisible {
    img {
      max-width: 100%;
      opacity: 1;
      transform: none;
    }
    
    .card-title {
      opacity: 1;
      transform: none;
      transition-delay: .1s;
    }
  }
  
  &:first-child { margin-left: 6vw; }
}
