* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Alegreya SC';
  font-style: Medium;
  font-weight: 400;
  src: local('A'), url('../fonts/AlegreyaSC-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Alegreya SC BoldItalic';
  font-style: BoldItalic;
  font-weight: 700;
  src: local('A'), url('../fonts/AlegreyaSC-BoldItalic.ttf') format('ttf');
}

:root {
  --th-color-brown: #916953;
  --th-color-white: #FFFFFF;
  --th-color-black: #000000;
  --th-color-green: #83B692;
  --th-color-eggshell: #EDD3C4;
  --th-color-light-gray: #D9D9D9;
  --th-color-blue-gray: #abbdc9;

  --heading-font-family: "Alegreya SC", sans-serif;
  --heading-font-weight: 900;
  --navbar-font-family: "Alegreya SC", sans-serif;

  --bs-body-font-family: "Alegreya SC", sans-serif;
  --bs-body-font-weight: 400;
  --bs-body-background-image: url('../img/flowers.jpeg');

  --bs-card-border-width: 3px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  text-align: center;
  align-items: center;
}

header {
  font-family: var(--heading-font-family);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  background-color: var(--th-color-black);
}

.navbar a {
  font-family: var(--navbar-font-family);
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 400;
  color: var(--th-color-white);
  font-size: calc(0.75rem + 0.25vw);
}

@media screen and (min-width: 992px) {
  header {
    align-items: center;
  }

  .navbar {
    display: flex;
    max-width: 100%;
    overflow: hidden;
  }

  .navbar a {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    overflow: hidden;
    transition: color 0.3s ease;
  }

  .navbar a:hover {
    text-decoration: underline;
    color: var(--th-color-blue-gray);
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow: hidden;
    max-width: 100%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .nav-links li {
    display: block;
  }

  .nav-links.show {
    display: flex;
    max-height: 100%;
  }
}

@media (min-width: 992px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    max-height: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


.btn-primary {
  --bs-btn-color: var(--th-color-black);
  --bs-btn-bg: var(--th-color-white);
  --bs-btn-border-color: var(--th-color-black);
  --bs-btn-hover-color: var(--th-color-black);
  --bs-btn-hover-bg: var(--th-color-light-gray);
  --bs-btn-hover-border-color: var(--th-color-black);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: var(--th-color-black);
  --bs-btn-active-bg: var(--th-color-light-gray);
  --bs-btn-active-border-color: var(--th-color-black);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--th-color-white);
  --bs-btn-disabled-bg: var(--th-color-black);
  --bs-btn-disabled-border-color: var(--th-color-black);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: calc(1.25rem + 0.5vw);
}

h1.heading {
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
}

.card-img {
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.border-dark {
  border-width: 3px;
}

footer {
  display: in-line;
  background-color: var(--th-color-black);
  color: var(--th-color-white);
  text-transform: uppercase;
  /* padding: 1rem; */
  text-align: center;
  font-size: calc(0.75rem + 0.25vw);
  justify-content: center;
}

.img {
  border-radius: 10%;
  width: 100%;
  height: auto;
}
.gallery {
  --g: 8px;
  /* the gap */
  --s: 100%;
  /* the size */
  
  display: grid;
  border-radius: 50%;
}

.gallery>img {
  grid-area: 1/1;
  justify-self: center;
  align-self: center;
  width: 90%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x, 0), var(--_y, 0));
  cursor: pointer;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
  
}

.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform .2s, clip-path .3s .2s, z-index 0s;
}

.gallery:hover img {
  transform: translate(0, 0);
}

.gallery>img:nth-child(1) {
  clip-path: polygon(50% 50%, calc(50%*var(--_i, 0)) calc(120%*var(--_i, 0)), 0 calc(100%*var(--_i, 0)), 0 0, 100% 0, 100% calc(100%*var(--_i, 0)), calc(100% - 50%*var(--_i, 0)) calc(120%*var(--_i, 0)));
  --_y: calc(-1*var(--g))
}

.gallery>img:nth-child(2) {
  clip-path: polygon(50% 50%, calc(100% - 120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100% - 100%*var(--_i, 0)) 0, 100% 0, 100% 100%, calc(100% - 100%*var(--_i, 0)) 100%, calc(100% - 120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
  --_x: var(--g)
}

.gallery>img:nth-child(3) {
  clip-path: polygon(50% 50%, calc(100% - 50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)), 100% calc(100% - 120%*var(--_i, 0)), 100% 100%, 0 100%, 0 calc(100% - 100%*var(--_i, 0)), calc(50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)));
  --_y: var(--g)
}

.gallery>img:nth-child(4) {
  clip-path: polygon(50% 50%, calc(120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100%*var(--_i, 0)) 0, 0 0, 0 100%, calc(100%*var(--_i, 0)) 100%, calc(120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
  --_x: calc(-1*var(--g))
}

ul,
il, 
p {
  font-size: calc(1rem + 0.25vw);
}
  
.site-main {
  min-height: 90vh;
}

@media screen and (min-width: 992px){

  .desktop-img {
    background-image: url('../img/line-flowers.png');
    background-color: --th-color-white;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
}

@media screen and (max-width: 992px){
  .mobile-img {
    background-image: url('../img/line-flowers-mobile.png');
    background-color: --th-color-white;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
}

.bride-img {
  width: 300px;
  height: auto;
}

.bg-white {
  background-color: var(--th-color-white);
}

.bg-eggshell {
  background-color: var(--th-color-eggshell);
}

.bg-light-gray {
  background-color: var(--th-color-light-gray);
}

.bg-blue-gray {
  background-color: var(--th-color-blue-gray);
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-tr {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-tr {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-tl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-tl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  @-webkit-keyframes slide-in-fwd-bl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

  
.slide-in-fwd-bl {
  -webkit-animation: slide-in-fwd-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-tr {
  -webkit-animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-tl {
  -webkit-animation: slide-in-fwd-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-br {
  -webkit-animation: slide-in-fwd-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}