{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-about">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-12 w-100">
                <div class="card border-dark my-3 slide-in-top">
                    <div class="card-body text-center">
                        <h1 class="card-title">
                            <strong>Meet Our Owner and Head Coordinator</strong>
                        </h1>
                        <hr>
                        <h3 class="card-title">
                            <strong>Ryan Bergstrom</strong>
                        </h3>
                        <p class="card-text">
                           Proudly Serving Michigan and Indiana
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-4 mx-auto">
                <div class="card border-dark h-100 pb-2 slide-in-top">
                    <div class="card-body text-center">
                        <h2 class="h1 card-title">
                            <strong>Background</strong>
                        </h2>
                        <hr>
                        <p class="card-text">
                            As we embark on the journey of planning your wedding, we'll also be building a wonderful friendship! So, allow us to share a bit about our owner and head coordinator, Ryan Bergstrom. Ryan's passion for event planning ignited during his college years when he founded an Art Gallery and served as a chair member of the Providence Art Association. He found joy in hosting gala events to spotlight artists from New England. 
                        </p>
                        <p class="card-text">
                            Ryan's career took an exciting turn when he became a Chief Steward on super yachts (think Below Deck! He was even almost a part of the show!). For about 4-5 years, he meticulously planned every detail of his guests' once-in-a-lifetime experiences. After orchestrating events in 15 different countries, Ryan felt the call to return to the beautiful Midwest.
                            Since settling on land in 2022, Ryan has planned over 75 weddings and private events, contributing to his overall tally of more than 200 events worldwide.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mx-auto">
                <div class="card border-dark h-100 pb-2 slide-in-bottom">
                    <img src="{% static 'img/headshot.png'%}" class="card-img-top" alt="Ryan Bergstrom" loading="lazy">                        
                    <div class="card-body text-center">
                        <h1 class="card-title">
                            <strong>Our promise to you</strong>
                        </h1>
                        <hr>
                        <p>
                            As your wedding coordinators, we promise to manage every detail and navigate any obstacles with utmost precision throughout both the planning stages and on your special day. We promise to provide an enjoyable, stress-free planning journey. We promise to turn the anticipation leading up to your wedding into a fun and exciting experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mx-auto">
                <div class="card border-dark h-100 pb-2 slide-in-top">
                    <div class="card-body text-center">
                        <h2 class="h1 card-title">
                            <strong>Going above...</strong> 
                        </h2>
                        <hr>
                        <p>
                            Our commitment extends beyond just working with you at every stage of the journey. We will also collaborate closely with your vendors, both the day before and on your wedding day. Our aim is to foster a harmonious environment where we all work together to ensure every moment is flawless. By establishing a rapport with each vendor prior to your event, we ensure a comfortable and familiar atmosphere upon arrival, for both you and the entire team.
                        </p>
                        <hr>
                        <h2 class="h1 card-title">
                            <strong>... and beyond</strong>
                        </h2>
                        <div class="gallery py-3 mx-2">
                            <img src="{% static 'img/browntable.png'%}" alt="Tableset" loading="lazy">
                            <img src="{% static 'img/redtable.png'%}" alt="Tableset" loading="lazy">
                            <img src="{% static 'img/yacht.png'%}" alt="Tableset" loading="lazy">
                            <img src="{% static 'img/beachtable.png'%}" alt="Tableset" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}