{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col">
            <div class="card card-dark border-dark">
                <div class="card-body text-center">
                    <img src="{%static 'favicon/logo-about.png'%}" class="home-img mx-auto my-auto" alt="Beyond Events Wedding Planning and Rentals" loading="lazy">
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col">
            <div class="card border-dark">
                <div class="card-body text-center">
                    <div class="h1-logo text-dark">
                        Meet Your Coordinator: 
                        <br>
                        Ryan Bergstrom
                    </div>
                    <div class="h3-logo text-dark">
                        Proudly Serving the Greater Midwest Region. 
                        <br>
                        International Planning and Coordination Available.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row row-cols-2 row-cols-md-1 row-cols-lg-2 g-3 mx-auto mt-1 mb-3">
        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="card-body text-center">
                    <div class="title">
                        Background
                    </div>
                    <img src="{% static 'img/headshot.png'%}" alt="Ryan Bergstrom" class="headshot my-2" loading="lazy">
                    <hr>
                    <div class="card-text text-justify">
                        As we embark on the journey of planning your wedding, we'll also be building a wonderful friendship! So, allow us to share a bit about our owner and head coordinator, Ryan Bergstrom. Ryan's passion for event planning ignited during his college years when he founded an Art Gallery and served as a chair member of the Providence Art Association. He found joy in hosting gala events to spotlight artists from New England. 
                        <br>
                        <br>
                        Ryan's career took an exciting turn when he became a Chief Steward on super yachts (think Below Deck! He was even almost a part of the show!). For about 4-5 years, he meticulously planned every detail of his guests' once-in-a-lifetime experiences. After orchestrating events in 15 different countries, Ryan felt the call to return to the beautiful Midwest.
                        Since settling on land in 2022, Ryan has planned over 100 weddings and private events, contributing to his overall tally of more than 250 events worldwide.
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="card-body text-center">
                    <div class="title mb-2">
                        Going above...
                    </div>
                    <div class="gallery py-3 mx-2">
                        <img src="{% static 'img/weddings/white-wedding.jpg'%}" alt="Wedding Decor" loading="lazy">
                        <img src="{% static 'img/weddings/ryan-flwrs.jpg'%}" alt="Wedding Decor" loading="lazy">
                        <img src="{% static 'img/weddings/florals-green.png'%}" alt="Wedding Decor" loading="lazy">
                        <img src="{% static 'img/weddings/cake.png'%}" alt="Wedding Decor" loading="lazy">
                    </div>
                    <div class="title mt-2">
                        ... and beyond
                    </div>
                    <hr>
                    <div class="card-text text-justify">
                        As your wedding coordinators, we promise to manage every detail and navigate any obstacles with utmost precision throughout both the planning stages and on your special day. We promise to provide an enjoyable, stress-free planning journey. We promise to turn the anticipation leading up to your wedding into a fun and exciting experience.
                        <br>
                        <br>
                        Our commitment extends beyond just working with you at every stage of the journey. We will also collaborate closely with your vendors, both the day before and on your wedding day. Our aim is to foster a harmonious environment where we all work together to ensure every moment is flawless. By establishing a rapport with each vendor prior to your event, we ensure a comfortable and familiar atmosphere upon arrival, for both you and the entire team.
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}