{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-about">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-4 mx-auto mb-md-0">
                <div class="card border-dark h-100 my-2 slide-in-top">
                    <div class="card-body text-center">
                        <h2 class="h1 card-title">
                            <strong>Background</strong>
                        </h2>
                        <hr>
                        <p class="card-text">
                            As we embark on the journey of planning your wedding, I'll also be building a wonderful friendship! So, allow me to share a bit about my background. My passion for event planning ignited during my college years when I founded an Art Gallery and served as a chair member of the Providence Art Association. I found joy in hosting gala events to spotlight artists from New England. 
                        </p>
                        <p class="card-text">
                            My career took an exciting turn when I became a Chief Steward on super yachts (think Below Deck! I was even almost a part of the show!). For about 4-5 years, I meticulously planned every detail of my guests' once-in-a-lifetime experiences. After orchestrating events in 15 different countries, I felt the call to return to the beautiful Midwest.
                            Since settling on land in 2022, I've planned over 75 weddings and private events, contributing to my overall tally of more than 200 events worldwide.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mx-auto mb-md-0">
                <div class="card border-dark h-100 my-2 slide-in-bottom">
                    <img src="{% static 'img/headshot.png'%}" class="card-img-top" alt="Ryan Bergstrom">                        
                    <div class="card-body text-center">
                        <h1 class="card-title">
                            <strong>My promise to you</strong>
                        </h1>
                        <hr>
                        <p>
                            As your wedding coordinator, I promise to manage every detail and naviagte any obstacles with utmost precision throughout both the planning stages and on your special day. I promise to provide an enjoyable, stress-free planning journey. I promise to turn the anticipation leading up to your wedding into a fun and exciting experience. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mx-auto mb-md-0">
                <div class="card border-dark h-100 my-2 slide-in-top">
                    <div class="card-body text-center">
                        <h2 class="h1 card-title">
                            <strong>Going above...</strong> 
                        </h2>
                        <hr>
                        <p>
                            My commitment extends beyond just working with you at every stage of the journey. I will also collaborate closely with your vendors, both the day before and on your wedding day. My aim is to foster a harmonious environment where we all work together to ensure every moment is flawless. By establishing a rapport with each vendor prior to your event, we ensure a comfortable and familiar atmosphere upon arrival, for both you and the entire team.
                        </p>
                        <hr>
                        <h2 class="h1 card-title">
                            <strong>... and beyond</strong>
                        </h2>
                        <div class="gallery py-3 mx-2">
                            <img src="{% static 'img/browntable.png'%}" alt="Tableset">
                            <img src="{% static 'img/redtable.png'%}" alt="Tableset">
                            <img src="{% static 'img/yacht.png'%}" alt="Tableset">
                            <img src="{% static 'img/beachtable.png'%}" alt="Tableset">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}