{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="font-family-base">
    <header class="site-header" role="banner">
        <div class="container">
            <nav class="justify-content-center">
                <div class="pullUp">
                    <ul class="list-unstyled d-md-flex">
                        <li>
                            <a href="{% url 'home' %}">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'pricing'%}">
                                Packages
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'testimonials'%}">
                                Testimonials
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'gallery' %}">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'contact'%}">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="menu-icon" class=" mx-2">
                <img src="{% static 'img/heart_knot.png' %}" id="logo" class="d-md-flex pullUp" alt="Menu Icon" loading="lazy">
            </div>
            <ul class="mobile-menu text-white list-unstyled mx-auto">
                <div class="pullUp">
                    <li>
                        <a href="{% url 'home' %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'pricing'%}">
                            Packages
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'testimonials'%}">
                            Testimonials
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'gallery' %}">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact'%}">
                            Contact
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </header>

        <main class="site-main" role="main">

            {% block content %}
            {% endblock content %}


        </main>
        <footer class="py-3 px-3">
            <div class="d-lg-flex justify-content-between">
                <div>
                    <small>Proudly Serving Michgan + Indiana</small>
                </div>
                <div>
                    <small>(269)348-3690</small>
                </div>
                <div>
                    <small>&copy; Beyond Events, {% now "Y" %}. All rights reserved.</small>
                </div>
            </div>
        </footer>

        <!-- JQuery JS Bundle -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
        </script>
        <!-- Bootstrap JS Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
        <!-- Custom JS -->
        <script src="{% static 'js/base.js'%}">
        </script>

    </body>
</html>
