{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="prefetch" href="{%static 'favicon/logo-home.png'%}" />
    <link rel="prefetch" href="{%static 'favicon/logo-nav.png'%}" />
    <link rel="prefetch" href="{%static 'favicon/logo-about.png'%}" />
    <link rel="prefetch" href="{%static 'favicon/logo-packages.png'%}" />
    <link rel="prefetch" href="{%static 'favicon/logo-rental.png'%}" />
    <link rel="prefetch" href="{%static 'favicon/logo-gallery.png'%}" />
    <link rel="prefetch" href="{%static 'favicon/logo-contact.png'%}" />
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Basic favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <!-- For modern browsers, include multiple sizes -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/favicon-192x192.png' %}">
    <!-- For Apple devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <!-- Web App Manifest for PWA support -->
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+SC:wght@300;400;500;600;700&family=Lustria&family=WindSong:wght@400;500&display=swap" rel="stylesheet">
    <meta property="og:title" content="Beyond Events &amp; Rentals" />
    <meta property="og:description" content="Ready to plan your dream wedding?" />
    <meta property="og:image" content="{%static 'favicon/logo-nav'%}" />
</head>

<body class="font-family-base background lazyload">
    <header class="site-header" role="banner">
        <div class="container d-flex justify-content-between align-items-center">
            
            <!-- Left side (Logo) -->
            <a href="{% url 'home' %}" class="navbar-logo">
                <img src="{% static 'favicon/logo-nav.png' %}" alt="Beyond Events Logo" class="logo">
            </a>

            <!-- Centered Navigation Menu -->
            <nav class="justify-content-center text-dark">
                <ul class="nav-ul d-md-flex">
                    <li><a href="{% url 'about' %}">Our Story</a></li>
                    <li><a href="{% url 'pricing'%}">Packages</a></li>
                    <li><a href="{% url 'rentals'%}">Rentals</a></li>
                    <li><a href="{% url 'testimonials'%}">Reviews</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'contact'%}">Inquire</a></li>
                </ul>
            </nav>

            <!-- Mobile Menu Icon -->
            <div id="menu-icon" onclick="toggleMenu()">
                <i class="bi bi-list"></i>
            </div>

            <!-- Fullscreen Navigation Overlay -->
            <div id="fullscreen-nav" class="overlay">
                <button class="close-btn" onclick="toggleMenu()">&times;</button>
                <div class="overlay-content">
                    <a href="{% url 'home' %}" class="navbar-logo-overlay">
                        <img src="{% static 'img/logo-white.png' %}" alt="Beyond Events Logo" class="logo">
                    </a>
                    <hr class="text-white">
                    <a href="{% url 'about' %}">Our Story</a>
                    <a href="{% url 'pricing' %}">Packages</a>
                    <a href="{% url 'rentals' %}">Rentals</a>
                    <a href="{% url 'testimonials' %}">Reviews</a>
                    <a href="{% url 'gallery' %}">Gallery</a>
                    <a href="{% url 'contact' %}">Inquire</a>
                </div>
            </div>
        </div>
    </header>
        

    <main class="site-main" role="main">

        {% block content %}
        {% endblock content %}


    </main>
    <footer class="py-3 px-3">
        <div class="d-lg-flex text-dark justify-content-between">
            <div>
                <small>Proudly Serving the Greater Midwest &amp; Beyond</small>
            </div>
            <div>
                <small>(269) 348-3690</small>
            </div>
            <div>
                <small>&copy; Beyond Events, {% now "Y" %}. All rights reserved.</small>
            </div>
        </div>
    </footer>

    <!-- JQuery JS Bundle -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
    <!-- Custom JS -->
    <script src="{% static 'js/base.js'%}">
    </script>

    </body>
</html>
