{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}


<div class="container py-3">
    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-12 align-self-center my-2">
            <div class="card card-dark border-dark">
                <div class="card-body text-center">
                    <img src="{%static 'favicon/logo-coordination.png'%}" class="home-img mx-auto my-auto" alt="Beyond Events Wedding Planning and Rentals" loading="lazy">
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-12 my-3">
            <div class="card border-dark">
                

                    <!-- FLEXBOX CONTAINER -->
                    <div class="d-flex text-center">
                        <div class="col-6 justify-content-between">

                            <!-- Section 1: DOC -->
                            <div class="flex-fill p-3 border-end d-flex flex-column">
                                <div class="pkg-title">
                                    STRUCTURED MEETINGS:
                                </div>
                                <p>
                                    It's easy to feel flustered, and it's okay to feel that way also! With Beyond Events, we will guide you efficiently in a prioritized demeanor to insure that you are ticking the boxes in the right order.
                                </p>
                                <hr>
                                <div class="pkg-title">
                                    TIMELINE BUILDING:
                                </div>
                                <p>
                                    With our heavy experience in the industry, we will create a timeline that prevents issues before they occur, and once we have sent it to your vendors, we will work them to adjust accordingly.
                                </p>
                                <hr>
                                <div class="pkg-title">
                                    REHEARSAL &amp; DAY-OF:
                                </div>
                                <p>
                                    With our first-to-arrive- &amp; last-to-leave policy, that creates an unlimited window of  hours of our service on these days.
                                </p>
                                <hr>
                                <img class="card-img-bottom rounded pt-3" src="{% static 'img/weddings/couple-kiss.png' %}" alt="Wedding Review 2024" loading="lazy">
                            </div>
                            <div class="card-footer">
                                &amp; SO MUCH MORE...
                            </div>
                        </div>

                        <div class="col-6 d-flex justify-content-between flex-column">

                            <!-- Section 2: DAY OF COORDINATION PACKAGES -->
                            <div class="p-3 border-end d-flex flex-column justify-content-between h-100">
                                <div class="pkg-title">
                                    DECOR &amp; VENDOR ASSISTANCE:
                                </div>
                                <p>
                                    We will assist you in making your vision a reality with every aspect. We have plenty of tips and tricks for you to utilize, and have worked with a massive amount of vendors in the area and will direct you to find the perfect match. With our vast experince in creating unique tablescapes and aesthetic, no vision is impossible, in any venue, and we will show you how.
                                </p>
                                <hr>
                                
                                <div class="pkg-title">
                                    SET-UP &amp; TEAR-DOWN
                                </div>
                                <p>
                                    We take care of it all, and prioritize this in a efficient way to insure that you get that private walk-through before ceremony, and are not having to have family linger too late waiting for breakdown. 
                                </p>
                                <hr>
                                <img class="card-img-bottom rounded pt-3" src="{% static 'img/reviews/edensmore.png' %}" alt="Wedding Review 2024" loading="lazy">
                            </div>
                            <div class="card-footer">
                                PRICE: $2,750
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}