{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}


<div class="template-gallery desktop-img mobile-img">
    <div class="container mx-md-auto pb-3">
        <div class="card my-3">
            <div class="card-body text-center">
                <h1 class="card-title">
                    Where Dreams Meet Reality
                </h1>
                <p class="card-text">
                    Welcome to our gallery page - a curated space that highlights my passion, expertise, and the transformative power of love. Here, you'll find snapshots from a selection of the many beautiful weddings I've orchestrated. Each frame serves as a testament to my commitment to excellence and your unique love story.
                </p>
            </div>
        </div>
        <div class="scroll-gallery">
            <ul class="scroll-ul">
                <li class="scroll-li"> 
                    <img src="{% static 'img/disco.png'%}" alt="disco balls" class="scroll-img" loading="lazy"/>
                    Whimsical and Romantic Centerpieces
                    </li>
                <li class="scroll-li">
                    <img src="{% static 'img/glassware.png'%}" alt="glassware" class="scroll-img" loading="lazy" />
                    Layers of Grandeur
                </li>
                <li class="scroll-li"> 
                    <img src="{% static 'img/flowers.jpg'%}" alt="flowers" class="scroll-img" loading="lazy" />
                    Expertly Designed Bouquets
                </li>
                <li class="scroll-li"> 
                    <img src="{% static 'img/pink-tableset.png'%}" alt="tableware" class="scroll-img" loading="lazy" />
                    Designed Elegance, Curated Just for You
                </li>
                <li class="scroll-li"> 
                    <img src="{% static 'img/juice.jpg'%}" alt="juice" class="scroll-img" loading="lazy" /> 
                    Rustic Charm Meets Botanical Elegance
                </li>
                <li class="scroll-li"> 
                    <img src="{% static 'img/salad.png'%}" alt="salad" class="scroll-img" loading="lazy" />
                    Traditional Elegance and Modern Aesthetics
                </li>
                <li class="scroll-li"> 
                    <img src="{% static 'img/xmas.png'%}" alt="holiday" class="scroll-img" loading="lazy" />
                    Personalized Elegance Meets Festive Charm
                </li>
                <li class="scroll-li"> 
                    <img src="{% static 'img/cake-stand.png'%}" alt="cakestand" class="scroll-img" loading="lazy" />
                    A sweet crescendo to your nuptial vows
                </li>
            </ul>
        </div>
    </div>
</div> 


{% endblock content %}