{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div>
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-12 col-md-10 mb-md-0 text-center">
                <div class="card my-3 border-dark slide-in-left card-black">
                    <h1 class="h1-logo">
                        BEYOND EVENTS
                    </h1>
                    <h3 class="h3-logo">
                        WEDDING PLANNING &amp; RENTALS
                    </h3>
                </div>
                <div class="card border-dark my-3 slide-in-right">
                    <div class="card-body text-center">
                        <h2 class="h2-title">
                            Under Construction
                        </h2>
                        <h5>
                            <strong><i>2025 UPDATES COMING SOON</i></strong>
                        </h5>
                        <br>
                        <p>
                            Your wedding is a once-in-a-lifetime event, and we are here to ensure it's as magical as you've always dreamed. With over 200 events planned worldwide, including 75+ weddings since 2022, our owner and head coordinator brings a wealth of experience and a keen eye for detail to your special day.
                        </p>
                        <p>
                            We offer a variety of packages to suit your needs, from full-service planning to day-of coordination. 
                            We believe that every couple deserves a wedding that reflects their unique love story. We will work with you to create a personalized experience that you and your guests will remember for years to come.
                        </p>
                        <hr>
                        <a href="{% url 'about' %}" class="link">Our Story</a>
                        |
                        <a href="{% url 'pricing' %}" class="link">Packages</a>
                        |
                        <a href="{% url 'gallery' %}" class="link">Portfolio</a> 
                        <a class="codepen-button my-3" href="{% url 'contact'%}">
                            <span>
                                SCHEDULE YOUR CONSULTATION
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}
