{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div>
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-12 col-md-10 mb-md-0 text-center">
                <div class="card my-3 border-dark slide-in-left card-black">
                    <img src="{% static 'img/beyond_logo.png' %}" class="card-img-top" alt="logo" loading="lazy">
                </div>
                <div class="card border-dark my-3 slide-in-right">
                    <div class="card-body text-center">
                        <p>
                            Your wedding is a once-in-a-lifetime event, and we are here to ensure it's as magical as you've always dreamed. With over 200 events planned worldwide, including 75+ weddings since 2022, our owner and head coordinator brings a wealth of experience and a keen eye for detail to your special day.
                        </p>
                        <p>
                            We offer a variety of packages to suit your needs, from full-service planning to day-of coordination. 
                            We believe that every couple deserves a wedding that reflects their unique love story. We will work with you to create a personalized experience that you and your guests will remember for years to come.
                        </p>
                        <hr>
                        <a href="{% url 'about' %}" class="link">Our Story</a>
                        |
                        <a href="{% url 'pricing' %}" class="link">Explore Our Packages</a>
                        |
                        <a href="{% url 'gallery' %}" class="link">View Our Portfolio</a> 
                        <a class="codepen-button" href="{% url 'contact'%}">
                            <span>
                                Schedule your free consultation
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}
