{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div>
    <div class="container">
        <div class="row row-cols-1 g-3 mx-auto my-auto">
            <div class="col text-center">
                <div class="card card-dark my-3 border-dark text-dark">
                    <img src="{%static 'favicon/logo-home.png'%}" class="home-img mx-auto my-auto" alt="Beyond Events Wedding Planning and Rentals" loading="lazy">
                </div>
                <div class="card border-dark my-3 slide-in-right">
                    <div class="card-body text-center">
                        <div class="h1-logo text-dark">
                            Under Construction
                        </div>
                        <div class="h3-logo text-dark">
                            <strong>Now Booking for 2025 &amp; 2026</strong>
                        </div>
                        <hr>
                        <div class="card-text">
                            Your wedding is a once-in-a-lifetime event, and we are here to ensure it's as magical as you've always dreamed. With over 250 events planned worldwide, including over 100 weddings since 2022, our owner and head coordinator brings a wealth of experience and a keen eye for detail to your special day.
                            <br>
                            <br>
                            We offer a variety of packages to suit your needs, from full-service planning to day-of coordination. 
                            We believe that every couple deserves a wedding that reflects their unique love story. We will work with you to create a personalized experience that you and your guests will remember for years to come.
                            <br>
                            <br>
                            Proudly serving the greater Midwest region. International planning and coordination available.
                        </div>
                        <hr>
                        <a href="{% url 'about' %}" class="inline link">Our Story</a>
                        |
                        <a href="{% url 'pricing' %}" class="inline link">Packages</a>
                        |
                        <a href="{% url 'rentals' %}" class="inline link">Rentals</a>
                        |
                        <a href="{% url 'gallery' %}" class="inline link">Portfolio</a> 
    
                        <a class="button-56 my-3" role="button" href="{% url 'contact'%}">
                            <span>
                                SCHEDULE YOUR CONSULTATION
                            </span>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}
