{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}


<div class="container py-3">
    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-12 align-self-center my-2">
            <div class="card card-dark border-dark">
                <div class="card-body text-center">
                    <img src="{%static 'favicon/logo-planning.png'%}" class="home-img mx-auto my-auto" alt="Beyond Events Wedding Planning and Rentals" loading="lazy">
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-12 my-3">
            <div class="card border-dark">

                <!-- FLEXBOX CONTAINER -->
                <div class="d-flex text-center align-items-normal">
                    <div class="col-6 justify-content-between">

                        <!-- Section 1: DOC -->
                        <div class="flex-fill p-3 border-end d-flex flex-column">
                            <div class="pkg-title">
                                SOURCING [VENDORS | DECOR] 
                            </div>
                            <p>
                                Have a vision, but not the time to create it - allow us! We will source multiple vendors for you to interview with, and various styles of decor for you to decide on.
                            </p>
                            <hr>
                            <div class="pkg-title">
                                AESTHETIC BUILDING:
                            </div>
                            <p>
                                With our experince in creating visions for a vast assortment of clientele, we will discuss exactly what you want in your budget, and build it into a reality. This includes rehearsal &amp; day-of. 
                            </p>
                            <hr>
                            <div class="pkg-title">
                                BUDGET MANAGEMENT:
                            </div>
                            <p>
                                With extreme attention to detail we will manage your spendings to ensure there are no unexpected costs, along the conscious effort of trying to save you as much money as possible. 
                            </p>
                            <hr>
                            <div class="pkg-title">
                                $500 OFF RENTALS:
                            </div>
                            <p>
                                Enjoy a $500 credit towards our decor rentals! 
                            </p>
                            <hr>
                            <div class="pkg-title">
                                TWO ADDITIONAL ASSISTANTS
                            </div>
                            <p>
                                With our planning package, you will also receive 2 extra assistants complimentary.
                            </p>
                            <hr>
                            <div class="pkg-title">
                                DECOR PICK UP &amp; DROP OFF
                            </div>
                            <p>
                                One of the biggest struggles we find our couple's going through is getting all of the decor to and from the venue. We will arrive before rehearsal and load our trailer, and drop-off the day after your wedding at the designated location. (*Restrictions may apply*)
                            </p>
                        </div>
                    </div>

                    <div class="col-6 d-flex justify-content-between flex-column">

                        <!-- Section 2: DAY OF COORDINATION PACKAGES -->
                        <div class="p-3 border-end d-flex flex-column">
                            <img class="doc-img rounded-start pt-3" src="{% static 'img/weddings/wedding-bride.png' %}" alt="Wedding Review 2024" loading="lazy">
                            <img class="doc-img rounded-start" src="{% static 'img/reviews/clongo.png' %}" alt="Wedding Review 2024" loading="lazy">
                        </div>

                        <div class="card-footer h3-logo">
                            PRICE: $5,000
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}