{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}


<div class="container py-3">
    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-lg-12 my-3">
            <div class="card card-dark border-dark">
                <div class="card-body text-center">
                    <div class="h1-logo text-white">PRICING GUIDE</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-lg-12 my-3">
            <div class="card decor-card border-dark">
                
                <!-- FLEXBOX CONTAINER -->
                <div class="d-flex text-center align-items-stretch">
                    
                    <!-- Section 1: DOC -->
                    <div class="flex-fill p-3 border-end d-flex flex-column">
                        <div class="doc-title text-beige">DOC</div>
                        <hr>
                        <ul class="list-unstyled ul-pkg rte flex-grow-1">
                            <li>UNLIMITED VIRTUAL MEETINGS</li>
                            <li>DECOR MEETINGS</li>
                            <li>VENDOR COORDINATION</li>
                            <li>TIMELINE CREATION</li>
                            <li>ADDITIONAL COORDINATOR</li>
                            <li>LIVE DOCUMENTS</li>
                            <li>REHEARSAL COORDINATION</li>
                            <li>SET UP &amp; TEAR DOWN</li>
                            <li>UNLIMITED DAY-OF HOURS</li>
                        </ul>
                        <div class="card-footer h3-logo">
                            PRICE: $2,750
                        </div>
                        <img class="card-img-bottom my-2" src="{% static 'img/couple-kiss.png' %}" alt="Wedding Couple Kiss" loading="lazy">
                    </div>

                    <!-- Section 2: DAY OF COORDINATION PACKAGES -->
                    <div class="flex-fill p-3 border-end d-flex flex-column justify-content-between">
                        <div class="doc-title text-beige">DAY OF<br>COORDINATION<br>PACKAGES</div>
                        <br>
                        <a href="{% url 'doc-package' %}" class="pkg-link">Coordination Package</a>
                        <a href="{% url 'planning-package' %}" class="pkg-link">Planning Package</a>
                        <br>
                        <img class="card-img-bottom my-2" src="{% static 'img/florals-green.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    </div>
                    

                    <!-- Section 3: VIP DOC -->
                    <div class="flex-fill p-3 d-flex flex-column">
                        <div class="doc-title text-beige">VIP DOC</div>
                        <hr>
                        <ul class="list-unstyled ul-pkg rte flex-grow-1">
                            <li>SOURCE DECOR &amp; VENDORS</li>
                            <li>BUDGET MANAGEMENT</li>
                            <li>VENDOR COORDINATION</li>
                            <li>VENDOR MEETINGS</li>
                            <li>COMPLIMENTARY RENTALS</li>
                            <li>VISION BOARDS</li>
                            <li>DESSERT PICK-UP</li>
                        </ul>
                        <div class="card-footer h3-logo">
                            PRICE: $5,500
                        </div>
                        <img class="card-img-bottom my-2" src="{% static 'img/edensmore.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    </div>

                </div> <!-- END FLEX CONTAINER -->

            </div>
        </div>
    </div>

    <div class="h1-logo text-center my-3">
        Booking 2025 &amp; 2026 now!
    </div>
</div>






    {% comment %} <div class="row row-cols-md-3 g-2 mx-auto my-3">
        <div class="col col-md-4">
            <div class="title">
                DOC
            </div>
            <hr>
            <ul class="list-unstyled rte">
                <li>
                    UNLIMITED VIRTUAL MEETINGS
                </li>
                <li>
                    DECOR MEETINGS
                </li>
                <li>
                    VENDOR COORDINATION
                </li>
                <li>
                    TIMELINE CREATION
                </li>
                <li>
                    ADDITIONAL COORDINATOR
                </li>
                <li>
                    LIVE DOCUMENTS
                </li>
                <li>
                    REHEARSAL COORDINATION
                </li>
                <li>
                    SET UP &amp; TEAR DOWN
                </li>
                <li>
                    UNLIMITED DAY-OF HOURS
                </li>
            </ul>
            <div class="h3-logo text-center my-3">
                <small class="text-muted">
                    PRICE: $2,750
                </small>
            </div>
        </div>

        <div class="d-flex" style="height: 200px;">
            <div class="vr"></div>
        </div>

        <div class="col col-md-4">
            <div class="title">
                DAY OF COORDINATION PACKAGES
            </div>
            <hr>
            <a href="{% url 'doc-package' %}" class="link">
                Coordination Package
            </a>
            <a href="{% url 'planning-package' %}" class="link">
                Planning Package
            </a>
        </div>

        <div class="d-flex" style="height: 200px;">
            <div class="vr"></div>
        </div>
        
        <div class="col col-md-4">    
            <div class="title">
                VIP DOC
            </div>
            <hr>
            <ul class="list-unstyled rte">
                <li>
                    SOURCE DECOR &amp; VENDORS
                </li>
                <li>
                    BUDGET MANAGEMENT
                </li>
                <li>
                    VENDOR COORDINATION
                </li>
                <li>
                    VENDOR MEETINGS
                </li>
                <li>
                    COMPLIMENTARY RENTALS
                </li>
                <li>
                    VISION BOARDS
                </li>
                <li>
                    DESSERT PICK-UP
                </li>
                </ul>
            <div class="h3-logo text-center my-3">
                <small class="text-muted">
                    PRICE: $5,500
                </small>
            </div>
        </div>
    </div> 
    <div class="h1-logo text-center my-3">
        Booking 2025 &amp; 2026 now!
    </h2>
</div>

{% endcomment %}




{% endblock content %}