{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}


<div class="container py-3">
    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-lg-12 my-3">
            <div class="card card-dark border-dark">
                <div class="card-body text-center">
                    <img src="{%static 'favicon/logo-packages.png'%}" class="home-img mx-auto my-auto" alt="Beyond Events Wedding Planning and Rentals" loading="lazy">
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-lg-12 my-3">
            <div class="card border-dark">
                <div class="h2-logo text-dark my-3">
                    Now Booking 2025 &amp; 2026!
                </div>
                <hr>
                
                <!-- FLEXBOX CONTAINER -->
                <div class="d-flex text-center align-items-normal">
                    
                    <!-- Section 1: DOC -->
                    <div class="flex-fill p-3 border-end d-flex flex-column">
                        <div class="doc-title text-beige">DOC</div>
                        
                        <ul class="list-unstyled ul-pkg rte flex-grow-1">
                            <li>UNLIMITED VIRTUAL MEETINGS</li>
                            <li>DECOR MEETINGS</li>
                            <li>VENDOR COORDINATION</li>
                            <li>TIMELINE CREATION</li>
                            <li>ADDITIONAL COORDINATOR</li>
                            <li>LIVE DOCUMENTS</li>
                            <li>REHEARSAL COORDINATION</li>
                            <li>SET UP &amp; TEAR DOWN</li>
                            <li>UNLIMITED DAY-OF HOURS</li>
                        </ul>
                        <div class="card-footer h3-logo">
                            PRICE: $2,750
                        </div>
                        <img class="card-img-bottom my-2" src="{% static 'img/weddings/couple-kiss.png' %}" alt="Wedding Coordination Packages and Pricing" loading="lazy">
                    </div>

                    <!-- Section 2: DAY OF COORDINATION PACKAGES -->
                    <div class="flex-fill p-3 border-end d-flex flex-column justify-content-between">
                        <div class="doc-title text-beige">DAY OF<br>COORDINATION<br>PACKAGES</div>
                        <br>
                        <a href="{% url 'doc-package' %}" class="pkg-link">Coordination Package</a>
                        <a href="{% url 'planning-package' %}" class="pkg-link">Planning Package</a>
                        <br>
                        <img class="card-img-bottom my-2" src="{% static 'img/weddings/florals-green.png' %}" alt="Wedding Coordination Packages and Pricing" loading="lazy">
                    </div>
                    

                    <!-- Section 3: VIP DOC -->
                    <div class="flex-fill p-3 d-flex flex-column">
                        <div class="doc-title text-beige">VIP DOC</div>
                        
                        <ul class="list-unstyled ul-pkg rte flex-grow-1">
                            <li>SOURCE DECOR &amp; VENDORS</li>
                            <li>BUDGET MANAGEMENT</li>
                            <li>VENDOR COORDINATION</li>
                            <li>VENDOR MEETINGS</li>
                            <li>COMPLIMENTARY RENTALS</li>
                            <li>VISION BOARDS</li>
                            <li>DESSERT PICK-UP</li>
                        </ul>
                        <div class="card-footer h3-logo">
                            PRICE: $5,500
                        </div>
                        <img class="card-img-bottom my-2" src="{% static 'img/reviews/edensmore.png' %}" alt="Wedding Coordination Packages and Pricing" loading="lazy">
                    </div>

                </div> <!-- END FLEX CONTAINER -->
            </div>
        </div>
    </div>
</div>




{% endblock content %}