{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-pricing">
    <div class="container py-3">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8">
                <div class="card border-dark slide-in-left mb-md-0">
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            Our Comprehensive Day-of Coordination Package
                        </h4>
                        <hr>
                        <h5 class="card-subtitle mb-2 text-muted">
                            What to expect:
                        </h5>
                        <ul class="list-unstyled rte">
                            <li>
                                12 structured face-to-face consultations
                            </li>
                            <li>
                                Unlimited virtual consultations
                            </li>
                            <li>
                                Management + coordination of vendors
                            </li>
                            <li>
                                Execution of event set-up and dismantling
                            </li>
                            <li>
                                Creation + management of event timeline
                            </li>
                            <li>
                                Aesthetic arrangement of reception, cocktail hour, and ceremony spaces
                            </li>
                            <li>
                                Delivery of desserts on the day of the event
                            </li>
                            <li>
                                Participation in vendor/venue meetings
                            </li>
                            <li>
                                First to arrive and the last to depart
                            </li>
                            <li>
                                Placement of cards/gifts in your vehicle
                            </li>
                            <li>
                                On-site rehearsal coordination
                            </li>
                            <li>
                                Primary liaison between you and vendors
                            </li>
                            <li>
                                Emergency kit for unforeseen events
                            </li>
                            <li>
                                Direct, hands-on assistance with each vendor on the day of the event
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="card border-dark slide-in-left h-100">
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            Promo Doc Package: $1,750
                        </h4>
                        <h5 class="card-subtitle mb-2 text-muted">
                            Offer valid through 12/31/2023
                        </h5>
                        <hr>
                        <p>
                            In an effort to reestablish my presence and reputation in the event planning industry after a summer hiatus, I am pleased to offer a promotional package. This special pricing is designed to reintroduce the high caliber of my services to you and your network. My ultimate goal is to foster a strong word-of-mouth reputation among you, your friends, and your family, thereby contributing positively to this vibrant industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="card border-dark slide-in-left h-100">
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            Doc Package 2024: $2,999
                        </h4>
                        <h5 class="card-subtitle mb-2 text-muted">
                            Applicable for weddings planned 12 months or less in advance
                        </h5>
                        <hr>
                        <p>
                            My role is to provide comprehensive guidance throughout your wedding planning journey. I will take the lead in ensuring your comfort and confidence in every aspect of the process. Leveraging my extensive experience and specialized expertise in the industry, I aim to make your wedding planning experience as seamless and enjoyable as possible.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="card border-dark slide-in-left h-100">
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            VIP Package DOC: $3,500
                        </h4>
                        <h5 class="card-subtitle mb-2 text-muted">
                            Applicable for weddings planned 16 months or more in advance
                        </h5>
                        <hr>
                        <p>
                            Embarking on this journey from the very beginning, we will explore potential venues together and begin to craft the vision for your wedding. This early engagement allows us to initiate the planning process promptly, ensuring every detail is meticulously considered and executed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock content %}