{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="container py-3">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <div class="card card-dark border-dark my-3">
                <div class="card-body text-center">
                    <h1 class="h1-logo text-white">
                        BEYOND EVENTS
                    </h1>
                    <h3 class="card-subtitle text-white">
                        2025 Decor Catalog
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card decor-card border-dark h-100 mb-3">
        <div class="card-body">
            <h2 class="h1-logo">
                Candles
            </h2>
            <div class="h3-logo">
                All candles holders come with complimentary LED candles. Real candles available upon request (cost based on style). Please keep in mind many venues have candle restrictions.
            </div>
            <hr>
            <div class="row row-cols-3 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/candles/candles-gold.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        TIERED CANDLESTICK HOLDERS
                        <br>
                        WITH GLASS HURRICANE
                        <br> 
                        SIZE(S): 6”, 8” , &amp; 10”
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $20 PER SET | SET OF 3
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/candles/votive-amber.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        VOTIVE CANDLE HOLDERS
                        <br>
                        SIZE(S): 2.5”
                        <br>
                        COLOR(S): AMBER
                        <br>
                        $1.50 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/candles/votive-mermaid.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        MERMAID VOTIVE 
                        <br>
                        CANDLE HOLDERS
                        <br>
                        SIZE(S): 2.5”
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $1.50 PER PIECE
                    </div>                     
                </div>
            </div>
            <div class="row row-cols-3 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/candles/votive-crystal.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        VOTIVE CANDLE HOLDERS
                        <br>
                        SIZE(S): 2.5”
                        <br>
                        COLOR(S): CRYSTAL
                        <br>
                        $1.50 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/candles/candles-floating.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        THREE TIERED
                        <br>
                        FLOATING CANDLES
                        <br>
                        SIZE(S): 6”, 8” , &amp; 10”
                        <br>
                        COLOR(S): CLEAR
                        <br>
                        $20 PER SET | SET OF 3
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/candles/candles-sand.png' %}" alt="Candle Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        SAND CANDLES
                        <br>
                        SIZE(S): 6”, 8” , &amp; 10”
                        <br>
                        COLOR(S): CLEAR
                        <br>
                        $20 PER SET | SET OF 3
                    </div>                     
                </div>
            </div>              
        </div>
    </div>

    <div class="card decor-card border-dark h-100 mb-3">
        <div class="card-body">
            <h2 class="h1-logo">
                Chargers
            </h2>
            <div class="h3-logo">
                Chargers add an extra touch of sophistication and a polished look to your guest's dining experiences. Choose from a variety of styles, materials, and finishes to elevate your table decor.
            </div>
            <hr>
            <div class="row row-cols-3 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/chargers/charger-beachgrass.png' %}" alt="Charger Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        INTERTWINED BEACHGRASS CHARGER
                        <br>
                        $4 PER PIECE
                        <br>
                        AVAILABLE IN 12”
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/chargers/charger-gold.png' %}" alt="Charger Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        PLASTIC GOLD CHARGER
                        <br>
                        $2 PER PIECE
                        <br>
                        AVAILABLE IN 13”
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/chargers/charger-black.png' %}" alt="Charger Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        PLASTIC BLACK CHARGER
                        <br>
                        $2 PER PIECE
                        <br>
                        AVAILABLE IN 13”
                    </div>                     
                </div>
            </div>
        </div>
    </div>

    <div class="card decor-card border-dark h-100 mb-3">
        <div class="card-body">
            <h2 class="h1-logo">
                Fabrics &amp; Linens
            </h2>
            <div class="h3-logo">
                Fabrics and linens are essential elements of wedding decor, adding texture, color, and elegance to the overall design. We offer a variety of fabrics and linens to add a personalized touch to your decor.
            </div>
            <hr>
            <div class="row row-cols-2 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/fabrics/runner-cheesecloth.png' %}" alt="Fabric and Linen Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        CHEEESECLOTH TABLE RUNNER
                        <br>
                        SIZE(S): 17" X 108"
                        <br>
                        COLOR(S): DUSTY BLUE, SAGE GREEN, GREY GREEN, IVORY, TERRACOT, BURGUNDY, &amp; PINK
                        <br>
                        $4 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/fabrics/overlay-gold.png' %}" alt="Fabric and Linen Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        HAND EMBROIDERED ROUND OVERLAY
                        <br>
                        SIZES(S): 120" 
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $150 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/fabrics/overlay-floral.png' %}" alt="Fabric and Linen Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        SATIN FLORAL OVERLAY
                        <br>
                        SIZES(S): 72" X 72"
                        <br>
                        COLOR(S): BLUE &amp; WHITE
                        <br>
                        $15 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/fabrics/linen-round.png' %}" alt="Fabric and Linen Wedding Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        FLOOR LENGTH LINENS
                        <br>
                        ROUND &amp; RECTANGLE
                        <br>
                        SIZES(S): 120" | 90" x 132" | 90" x 156"
                        <br>
                        COLOR(S): WHITE &amp; BLACK
                        <br>
                        $15-$18 PER PIECE
                    </div>                     
                </div>
            </div>
        </div>
        <div class="card-footer h3-logo">
            ** ALL LINENS ARE STEAMED OR PRESSED PRIOR TO GUEST ARRIVAL**
        </div>
    </div>
    <div class="card decor-card border-dark h-100 mb-3">
        <div class="card-body">
            <h2 class="h1-logo">
                Mirrors
            </h2>
            <div class="h3-logo">
                Mirrors can be used as wedding signage to add a touch of elegance and charm, reflecting light while creating a stylish and timeless look. White vinyl calligraphy can be added to the mirrors for a personalized and sophisticated touch.
            </div>
            <hr>
            <div class="row row-cols-3 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/mirrors/mirror-large.png' %}" alt="Wedding Mirror Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        LARGE REGAL MIRROR
                        <br>
                        SEATING CHART
                        <br>
                        SIZE(S): 5.3' X 7'
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $200 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/mirrors/mirror-small.png' %}" alt="Wedding Mirror Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        SMALL REGAL MIRROR
                        <br>
                        SEATING CHART
                        <br>
                        SIZE(S): 15.75" X 14.25"
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $200 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/mirrors/mirror-trifold.png' %}" alt="Wedding Mirror Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        TRI-FOLDING MIRROR
                        <br>
                        SIZE(S): 5' X 7'
                        <br>
                        COLOR(S): GOLD WITH SILVER ACCENTS
                        <br>
                        $1,000 PER PIECE [1 AVAILABLE]
                    </div>                     
                </div>
            </div>
        </div>
    </div>
    <div class="card decor-card border-dark h-100 mb-3">
        <div class="card-body">
            <h2 class="h1-logo">
                Signage
            </h2>
            <div class="h3-logo">
                Signage adds both style and functionality to a wedding, guiding guests while enhancing the overall décor. We offer a variety of signage options, including welcome signs, seating charts, and table numbers.
            </div>
            <hr>
            <div class="row row-cols-3 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/signage/signs-gold.png' %}" alt="Wedding Sign Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        REFLECTIVE SIGNS
                        <br>
                        TWO PIECES
                        <br>
                        SIZE(S): 5" X 7"
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $25 PER SET
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/signage/signs-black.png' %}" alt="Wedding Sign Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        FOUR PIECE SIGNS
                        <br>
                        SIZE(S): 5" X 7"
                        <br>
                        COLOR(S): BLACK &amp; WHITE
                        <br>
                        $25 PER SET
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/signage/signs-white.png' %}" alt="Wedding Sign Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        FOUR PIECE SIGNS
                        <br>
                        SIZE(S): 5" X 7"
                        <br>
                        COLOR(S): WHITE &amp; BLACK
                        <br>
                        $25 PER SET
                    </div>                     
                </div>
            </div>
            <div class="row row-cols-3 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/signage/tables-gold.png' %}" alt="Wedding Sign Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        REFLECTIVE TABLE NUMBERS
                        <br>
                        [1 - 25]
                        <br>
                        SIZE(S): 5" X 7"
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $50 PER SET
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/signage/tables-black.png' %}" alt="Wedding Sign Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        TABLE NUMBERS
                        <br>
                        [1 - 30]
                        <br>
                        SIZE(S): 5" X 7"
                        <br>
                        COLOR(S): BLACK &amp; WHITE
                        <br>
                        $50 PER SET
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/signage/tables-white.png' %}" alt="Wedding Sign Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        TABLE NUMBERS
                        <br>
                        [1 - 30]
                        <br>
                        SIZE(S): 5" X 7"
                        <br>
                        COLOR(S): WHITE &amp; BLACK
                        <br>
                        $50 PER SET
                    </div>                     
                </div>
            </div>
        </div>
    </div>

    <div class="card decor-card border-dark h-100 mb-3">
        <div class="card-body">
            <h2 class="h1-logo">
                Florals
            </h2>
            <div class="h3-logo">
                Flowers set the mood and bring out the beauty in every detail. We offer light floral installations to complement our rental items, adding an elegant touch to your wedding décor. While we don’t create centerpieces,  bouquets, corsages, or boutonnieres, our floral options are designed to enhance tablescapes, signage, and other decorative pieces. Pricing is available varies based on your selections.
            </div>
            <hr>
            <div class="row row-cols-3 g-2 mx-auto my-auto">
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/florals/florals-vases.png' %}" alt="Wedding Floral Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        BUD VASES
                        <br>
                        SIZE(S): 2" - 5"
                        <br>
                        COLORS: BLUE, AMBER, &amp; CRYSTAL
                        <br>
                        $1.50 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/florals/florals-centerpiece.png' %}" alt="Wedding Floral Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        RAISED FLORAL
                        <br>
                        CENTERPIECE STANDS
                        <br>
                        SIZE(S): 10" x 2' 
                        <br>
                        COLOR(S): GOLD
                        <br>
                        $20 PER PIECE
                    </div>                     
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="{% static 'img/florals/florals-walls.png' %}" alt="Wedding Floral Rentals" loading="lazy">
                    <div class="card-text my-2 text-center">
                        REVERSIBLE BOXWOOD WALLS 
                        <br>
                        W/ WHITE SHIPLAP SIDE
                        <br>
                        SIZE(S): 4' x 8'
                        <br>
                        COLOR(S): GREEN
                        <br>
                        $400 PER PIECE
                        <br>
                        (CUSTOM LETTERING AVAILABLE)
                    </div>                     
                </div>
            </div>
        </div>
    </div>            
</div>



{% endblock content %}
