{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="container py-3">
    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col-lg-12 align-self-center my-3">
            <div class="card card-dark border-dark">
                <div class="card-body text-center">
                    <div class="h1-logo">
                        BEYOND REVIEWS
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-3 mx-auto mb-3">
        <div class="col">
            <div class="card border-dark h-100">
                <div class="card-body text-center">
                    <div class="card-text quote">
                        <blockquote>
                            
                                Where do I begin? Ryan was a gift from heaven that immediately made me feel better about wedding planning. He was not only my day of coordinator but also took part in my wedding planning for over a year. Ryan was there through all the challenges of wedding planning. He jumped into action especially when I needed him the most. 
                                On wedding day, Ryan's communication with not only me, but all my wedding vendors was absolutely phenomenal. From making sure the groomsman's ties were tied, cleaning a dirty boot foot print on my dress, to helping me squeeze my swollen feet into my dancing shoes, getting me anything I needed, along with my now husband.
                        
                                
                        </blockquote>
                    </div>
                    <img class="card-img-bottom rounded" src="{% static 'img/edensmore.jpg' %}" alt="Wedding Review 2024" loading="lazy">
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Emma Densmore, 2024 
                    </small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-dark h-100">
                <div class="card-body text-center">
                    <div class="card-text quote">
                        <blockquote>
                            
                                ... The reception was unbelievable. I've planned other events, designed movie sets and installation art, and was truly blown away by what they accomplished. It was so exciting to see all of the love and hard work that went into making our vision come to life and see the excitement on guests' faces when they walked into the tent. It was colorful, magical and totally surreal. 
                                Our guests had so many kind words about how fun and joyous the entire evening was, and our wedding party and families loved being able to stay at the River house for a magical weekend. 
                                Instead of worrying who was going to help clean up at the end of the night, Ryan had it fully covered.
                                
                        </blockquote>
                    </div>
                    <img class="card-img-bottom rounded" src="{% static 'img/speterson.png' %}" alt="Wedding Review 2024" loading="lazy">
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Sophie Peterson, 2024 
                    </small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-dark h-100">
                <div class="card-body text-center">
                    <div class="card-text quote">
                        <blockquote>
                            
                                Ryan was a huge help in planning our wedding day! 
                                From our first meeting, we could tell that he was well worth hiring.
                                He helped us keep on course, gave great suggestions, and was very gracious as we planned this big of a celebration for the first time. 
                                <br>
                                <br>
                                Having Ryan as our Day of Coordinator helped us simply take in the moments and enjoy our wedding day, he took care of the rest! 
                                He was so fun to work with; by the time of our wedding day came around, we felt like he was our long time friend.
                                <br>
                                <br>
                                Ryan's the best!
                                <br>
                                <br>
                            
                        </blockquote>
                    </div>
                    <img class="card-img-bottom rounded" src="{% static 'img/cmeredith.png' %}" alt="Wedding Review 2024" loading="lazy">
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Courtney Meredith | 2023
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}