{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="container py-3">
    <div class="row row-cols-1 g-3 mx-auto my-auto">
        <div class="col">
            <div class="card card-dark border-dark">
                <div class="card-body text-center">
                    <div class="h1 text-white">
                        Reviews
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 g-3 mx-auto mt-1 mb-3">
        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start" src="{% static 'img/reviews/edensmore.png' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Sam &amp; Emma Densmore
                                <br>
                                Venue Bella Giornata | 2024 
                            </div>
                            <div class="card-text quote">
                                <blockquote>
                                    Where do I begin? Ryan was a gift from heaven that immediately made me feel better about wedding planning. He was not only my day of coordinator but also took part in my wedding planning for over a year. Ryan was there through all the challenges of wedding planning. He jumped into action especially when I needed him the most. 
                                    On wedding day, Ryan's communication with not only me, but all my wedding vendors was absolutely phenomenal. From making sure the groomsman's ties were tied, cleaning a dirty boot foot print on my dress, to helping me squeeze my swollen feet into my dancing shoes, getting me anything I needed, along with my now husband.
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    Photo Credit: Samantha James Photo
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start" src="{% static 'img/reviews/clongo.png' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Jon &amp; Cassidy Longo
                                <br>
                                Blue Dress Barn | 2024
                            </div>                    
                            <div class="card-text quote">
                                <blockquote>
                                    This human (Ryan) is so much more than amazing. He helped us through this process in more ways than just planning our day. He was our therapist, our shoulder to cry/lean on, and now a good friend. He went above and beyond what his duties called for. One thing that shined during our experience was his passion for weddings, design, and a love for his clients. He is very patient,  works around your ideas, and really helped my vision come alive (I was extremely picky and didn't make it easy). Our big day was the best freaking day ever, but it was not without its challenges. Ryan handled everything with such grace, never let us know the bad existed, and kept us feeling the magic all day. He was the calm to the wedding storm and we cannot thank him enough. I wish I could scream his name at the top of Wedding Mountain for all to hear and know how incredibly talented and hardworking this soul is.
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    Photo Credit: Kylie Haack
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start"src="{% static 'img/reviews/speterson.png' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Sophie Peterson
                                <br>
                                Morris Estate | 2024
                            </div>
                            
                            <div class="card-text quote">
                                <blockquote> 
                                        ... The reception was unbelievable. I've planned other events, designed movie sets and installation art, and was truly blown away by what they accomplished. It was so exciting to see all of the love and hard work that went into making our vision come to life and see the excitement on guests' faces when they walked into the tent. It was colorful, magical and totally surreal. 
                                        Our guests had so many kind words about how fun and joyous the entire evening was, and our wedding party and families loved being able to stay at the River house for a magical weekend. 
                                        Instead of worrying who was going to help clean up at the end of the night, Ryan had it fully covered.
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    Photo Credit: Studio Zwerveling
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start" src="{% static 'img/reviews/esipka.png' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Brandon &amp; Emilee Sipka
                                <br>
                                Morris Estate | 2024
                            </div>
                            <div class="card-text quote">
                                <blockquote>
                                    Ryan was our coordinator for our wedding and we cannot say enough good things about him as a person and his work! He went above and beyond in every single aspect of the planning process, rehearsal, and the wedding day. Ryan went the extra mile in several ways including helping me do an emergency bustle for my dress at the last minute, helping guests with their own wardrobe malfunctions, and answering any questions they had. We even had a handful of guests tell us how amazing he was. Truly could not recommend him enough!!! Our wedding would not have been the same without him. Plus he's one of the most genuine people I've met - especially in the wedding business. I'd hire him over and over again!
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    Credit: Katie Kendrick Photo
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>

        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start"src="{% static 'img/reviews/cmeredith.png' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Courtney Meredith | 2023
                            </div>
                            <div class="card-text quote">
                                <blockquote>
                                    Ryan was a huge help in planning our wedding day! 
                                    From our first meeting, we could tell that he was well worth hiring.
                                    He helped us keep on course, gave great suggestions, and was very gracious as we planned this big of a celebration for the first time. 
                                    <br>
                                    <br>
                                    Having Ryan as our Day of Coordinator helped us simply take in the moments and enjoy our wedding day, he took care of the rest! 
                                    He was so fun to work with; by the time of our wedding day came around, we felt like he was our long time friend.
                                    <br>
                                    <br>
                                    Ryan's the best!
                                    <br>
                                    <br>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start" src="{% static 'img/reviews/samantha.png' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Samantha Vanderson | 2024
                            </div>
                            <div class="card-text quote">
                                <blockquote>
                                    I've been a photographer in the wedding industry almost 15 years and I was so impressed with Ryan as my couple's lead planner! He surpassed all expectations for the couple &amp; did everything he could to make sure the day was seamless. Not only did he bring energy and light into their day but his communication with me throughout the day was spot on &amp; he didn't miss a single detail! I cannot wait to work with him on future events! 10/10 recommend you have Ryan bring your dreams to life, he won't let you down.
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    Samantha James Photo
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start" src="{% static 'img/reviews/hmoore.png' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Hayley Moore | 2024
                            </div>
                            <div class="card-text quote">
                                <blockquote>
                                    Working with Ryan was an absolute joy! Not only did he keep me on schedule, but he was also incredibly kind and understanding. He truly knows the photographer's role and goes above and beyond to support the couple in every way. On top of that, he's such a fun person to chat with—especially on stressful days, he brings such a positive and uplifting energy. I couldn't recommend him more!
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    Hayley Moore Photography
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card decor-card border-dark h-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="bride-img rounded-start" src="{% static 'img/reviews/sschulz.jpg' %}" alt="Wedding Review 2024" loading="lazy">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <div class="bride-title">
                                Sydney Schulz | 2023
                            </div>                    
                            <div class="card-text quote">
                                <blockquote>
                                    Ryan is not only an amazing wedding planner but overall a fabulous human being. He helped plan mine and Trevor Schulz big day last year at Ivy House and it couldn't have been better. He pays attention to details, stays organized, and listens to his client's, all while being honest and fun! Wedding planning can be stressful so I would recommend you use Ryan to make your day the best it can be!
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}