{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-testimonials">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-8 mb-md-0">
            <div class="card flex-row border-dark mx-3 my-3 slide-in-right">
                <div class="card-body text-center">
                    <div class="row align-items-center mx-auto">
                        <div class="col-md-6 card-text quote">
                            <img src="{% static 'img/left-quote.png'%}" class="img-fluid left-quote-img" alt="Bride">
                                <p>
                                <em>
                                    Ryan was such a help when it came to planning our big day. 
                                    From the start, he took the lead and made sure everything was in order and would be executed properly. 
                                    Ryan helped by communicating with vendors, constructing a timeline, meeting with us WHENEVER we needed assistance, 
                                    and with decision making (as there are SO MANY when it comes to planning). 
                                    He is extremely personable, honest, and fun to work with. 
                                    My husband and I cannot say enough great things about Ryan! 
                                    You will be so happy to have him as a day of coordinator.
                                </em>
                                </p>
                            <img src="{% static 'img/quote-right.png'%}" class="img-fluid right-quote-img" alt="Bride">
                        </div>
                        <div class="col-md-6 quotes align-items-center text-center">
                            <img src="{% static 'img/bride2.png'%}" class="img-fluid bride-img py-3" alt="Bride">
                            <h4 class="card-title">
                                Sydney Schulz
                            </h4>
                            <h5 class="card-subtitle text-muted">
                                250 guests
                            </h5>
                            <h5 class="card-subtitle text-muted">
                                [2023]
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-8 mb-md-0">
            <div class="card flex-row border-dark mx-3 my-3 slide-in-left">
                <div class="card-body text-center">
                    <div class="row align-items-center mx-auto">
                        <div class="col-md-6 quote text-center">
                            <img src="{% static 'img/left-quote.png'%}" class="img-fluid left-quote-img" alt="quote">
                            <p>
                                <em>
                                    Ryan was a huge help in planning our wedding day! 
                                    From our first meeting, we could tell that he was well worth hiring.
                                    He helped us keep on course, gave great suggestions, and was very gracious as we planned this big of a celebration for the first time. 
                                    Having Ryan as our Day of Coordinator helped us simply take in the moments and enjoy our wedding day, he took care of the rest! 
                                    He was so fun to work with; by the time of our wedding day came around, we felt like he was our long time friend.
                                    Ryan's the best!"
                                </em>
                            </p>
                            <img src="{% static 'img/quote-right.png'%}" class="img-fluid right-quote-img" alt="quote">
                        </div>
                        <div class="col-md-6 quote align-items-center text-center">
                                <img src="{% static 'img/bride3.png'%}" class="img-fluid bride-img py-3" alt="Bride">
                                <h4 class="card-title">
                                    Courtney Meredith
                                </h4>
                                <h5 class="card-subtitle text-muted">
                                    200 guests
                                </h5>
                                <h5 class="card-subtitle text-muted">
                                    [2023]
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-8 mb-md-0">
            <div class="card flex-row border-dark mx-3 my-3 slide-in-left">
                <div class="card-body text-center">
                    <div class="row align-items-center mx-auto">
                        <div class="col-md-6 quote">
                            <img src="{% static 'img/left-quote.png'%}" class="img-fluid left-quote-img" alt="quote">
                            <p>
                                <em>
                                    "Ryan!! Where do I even begin?! He was my wedding coordinator in February 2023 and was AMAZING! 
                                    From day 1, he was a great communicator, an exceptional listener, and a gifted event planner. 
                                    Above all, and what stands out the most, is that Ryan was genuine, caring, and intentional. 
                                    He shared in my excitement and truly walked alongside in planning the best day of my life. 
                                    I will recommend him over and over!!!"
                                </em>
                            </p>
                            <img src="{% static 'img/quote-right.png'%}" class="img-fluid right-quote-img" alt="quote">
                        </div>
                        <div class="col-md-6 align-items-center text-center quote">
                            <img src="{% static 'img/bride1.png'%}" class="img-fluid bride-img pb-3" alt="Bride">
                            <h4 class="card-title">
                                Mary VerBeek
                            </h4>
                            <h5 class="card-subtitle text-muted">
                                120 guests
                            </h5>
                            <h5 class="card-subtitle text-muted">
                                [2023]
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}